#header{
	background-image: url(https://retailproblems.files.wordpress.com/2012/11/fitting-room1.jpg); 
	text-align: center;
	padding: 10px;
}

h1 {
	color: white; 
	font-family: sans-serif;
}

