#jumbotron{
	background-image: url(https://rro1020.github.io/webcam-project/pics/dressingroom-background.png);
	width: 100%;
}

#header{
	width: 100%;
	padding: 0 0 40%;
	margin-left: auto; 
	margin-right: auto;
}

h1 {
	color: white; 
	font-family: sans-serif;
}

